/*** General valeurs ***/
body {
    margin: 0;
    line-height: normal;
}

* {
    font-family: 'Raleway', sans-serif;
}


:root {

    /* font sizes custom */
    --footer-link-size: 16px;
    --title-filter-size: 18px;
    --title-section-size: 22px;

    /* Colors var src*/
    --color-white: #fff;
    --grey: #f2f2f2;
    --transparent: rgba(242, 242, 242, 0);
    --white: #000;
    --grey-tint2: #d9d9d9;
    --color-silver-100: #bfbfbf;
    --blue: #0065fc;
    --color-dodgerblue: #268cff;

    /* Gaps custom */
    --gap-11xl: 30px;
    --gap-16xl: 35px;
    --gap-mini: 15px;
    --gap-21xl: 40px;
    --gap-5xl: 24px;
    --gap-8xs: 5px;
    --gap-32xl: 51px;
    --gap-9xs: 4px;
    --gap-5xs: 8px;
    --gap-3xs: 10px;
    --gap-xl: 20px;
    --gap-sm: 14px;

    /* Paddings valeurs custom */
    --padding-xl: 20px;
    --padding-11xs: 2px;
    --padding-11xl: 30px;
    --padding-lgi: 19px;
    --padding-3xs: 10px;
    --padding-8xs: 5px;
    --padding-mini: 15px;
    --padding-12xs: 1px;
    --padding-9xs: 4px;
    --padding-2xl: 21px;
    --padding-mid: 17px;

    /* Border radiuses custom */
    --br-xl: 20px;
    --br-mini: 15px;
    --br-6xl: 25px;

}

input {
    border: none
}

/* Nav (header) */

.main-container {

    display: block;
    height: auto;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.company-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;

}

.booki-logo {
    width: 61.09px;
    height: 19px;
}


nav ul {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    list-style: none;

}

.heber-activ {
    background-color: transparent;

}

#hebergements {
    display: flex;
    list-style: none;
    padding-right: 32px;
    background-color: transparent;
    color: var(--blue);
    position: relative;
}

#hebergements::before {
    content: "";
    position: absolute;
    top: -80%;
    width: 75%;
    height: 2px;
    background-color: var(--blue);
}


#activit {
    display: flex;
    background-color: transparent;
    position: relative;
}

/* search bar, filtres, infos bar */


.InfoGroup {
    align-self: stretch;
    flex-direction: column;
    display: flex;
}

.Headline {

    flex-direction: column;
    align-items: flex-start;
    display: flex;
    margin-bottom: 35px;
    border: none;
}

.Finding {
    align-self: stretch;
    color: black;
    font-size: 22px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 0;

}


.Envrironment {
    color: black;
    font-weight: 400;
    position: relative;
    font-size: var(--footer-link-size);
    margin-top: 8px;


}


.trouvez-votre-hbergement {
    margin: 0;
    margin-top: 35px;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
}

.en-plein-centre-ville {
    align-self: stretch;
    position: relative;
    font-size: var(--footer-link-size);
    z-index: 1;
}


.container {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-mini) 0 0 var(--br-mini);
    background-color: var(--grey);
    border: 1px solid var(--grey);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.text-icon {
    position: absolute;
    top: 15px;
    left: 18px;
    width: 14px;
    height: 18px;
    z-index: 1;
}

.container-parent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    height: 49px;
    width: 50px;
    position: relative;
}

.marseille-france {
    position: relative;
}

.search-bar input::placeholder {
    font-weight: bold;
    color: black;
    font-size: medium;
}

.glass-icon {
    display: none;
}


.rechercher {
    position: relative;
    font-size: var(--title-filter-size);
    font-family: var(--footer-link);
    color: var(--color-white);
    text-align: center;
}

.buttonsearchdesktop {
    padding: var(--padding-mini) var(--padding-mid) var(--padding-mini) var(--padding-mini);
    background-color: var(--blue);
    height: 53px;
    border-radius: 0 var(--br-mini) var(--br-mini) 0;
}

.buttonsearchdesktop,
.search-bar {
    background-color: var(--color-dodgerblue);
    border: 1px solid var(--color-dodgerblue);
}

.search-bar {
    border-radius: var(--br-mini);
    background-color: var(--color-white);
    border: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 35px;
    gap: var(--gap-5xl);
}


.filtres {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.filter:hover {
    background-color: #deebff;
}

.filterbar {
    width: 758px;
    gap: var(--gap-mini);
    flex-shrink: 0;
    text-align: center;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
}

.filterbar-all {
    display: flex;
    align-items: center;
    gap: 20px;
}



.icon {
    font-size: 150%;
}

.conomique {
    position: relative;
    font-size: 17px;
    font-family: var(--footer-link);
    color: var(--white);
    text-align: left;
}

.filter {

    border: 2px solid var(--grey-tint2);
    padding: 15px 19px;
    border-radius: var(--br-6xl);
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    text-wrap: nowrap;


}

.filter:hover {
    box-sizing: border-box;
}



.plus-de-500 {
    flex: 1;
    position: relative;
    display: inline-block;

    width: 1306px;
    height: 19px;
    font-size: var(--footer-link-size);
    font-weight: 400;

}

.infobar {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-3xs);

    flex-shrink: 0;
    font-size: var(--footer-link-size);
    padding-bottom: 30px;

}

.icon-info {
    border: 2px solid var(--grey-tint2);
    padding: 3px 7px;
    height: 1em;
    width: auto;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    font-size: 70%;
}

/***** partie hebergement S *****/




.info-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-16xl);
    max-width: 100%;
}

.hbergements-marseille {
    margin: 0;
    font-size: var(--title-section-size);
    font-weight: 700;
    font-family: inherit;
}



/** début du premier card template **/



.cardmain-heber {
    height: 207.25px;
    border-radius: var(--br-xl);
    background-color: var(--color-white);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    align-items: center;
    padding: 0 0 var(--padding-mini);
    box-sizing: border-box;
    gap: var(--gap-9xs);
}

.cardmain-heber img {
    border-radius: var(--br-xl) var(--br-xl) 0 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    padding: 5px;
    display: block;
    align-self: stretch;
    position: relative;
    max-width: 100%;
}


.hebergements h3 {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    font-weight: 700;
    font-size: 16px;
}

.nuit-partir-container-heber {
    align-self: stretch;
    position: relative;
    font-size: 14px;
}



.cardmain-heber,
.content-card-heber {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h4,
h3,
h2 {
    margin: 0
}

.content-card-heber {
    align-self: stretch;
    align-items: flex-start;
    padding: 0 var(--padding-mini);
    gap: var(--gap-5xs);
    flex: 1;

}

/** fin du premier card template **/
.line {
    display: grid;
    align-items: flex-start;
    padding: 0 var(--padding-12xs) 0 0;
    gap: var(--gap-11xl);
    grid-template-columns: repeat(3, 1fr);
}



.afficher-plus {
    align-self: stretch;
    position: relative;
    font-size: var(--title-filter-size);
}

.offersmain {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: var(--gap-11xl);

}



/****** General préfait ***********/

.fa-solid {
    color: var(--blue);
}

body {
    display: flex;
    justify-content: center;
}

header,
main {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

footer {
    width: calc(100% - 100px);
    margin: 0 50px;
    box-sizing: border-box;

}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--grey)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--grey);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* marseilles activities */


.section-activits {
    display: flex;
    flex-direction: column;
    padding: var(--padding-11xl) 0;
    font-size: var(--title-section-size);
    margin-bottom: 35px;
    padding-bottom: 30px;
}


.section-group {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gap-21xl);
    font-size: var(--footer-link-size);
}

.activits-marseille {
    margin: 0;

    height: 30px;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
}

.card-act {
    display: flex;
    flex-direction: column;
    max-height: 439px;
    border-radius: var(--br-xl);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}


.card-act h3 {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: var(--color-white);
    align-self: stretch;
    height: 59px;
    border-radius: 0 0 var(--br-xl) var(--br-xl);
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-xl) var(--padding-lgi);
    box-sizing: border-box;
    font-family: var(--footer-link);
    font-weight: 700;
    font-size: var(--footer-link-size);
    color: var(--white);
    min-width: 178px;
}

.card-act img {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: var(--br-xl) var(--br-xl) 0 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}


.card-act-mar,
.section-activits {

    gap: var(--gap-11xl);
}

.card-act-mar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}







/* footer */

.f-propos {
    font-size: var(--title-filter-size);
}

.conditions-gnrales,
.donnes-et-confidentialit,
.fonctionnement-du-site,
.f-propos {
    position: relative;
}

.a-propos {
    flex: 0.9103;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xl);
    box-sizing: border-box;
    gap: var(--gap-mini);
    max-width: 100%;
}

.f-hbergements {
    position: relative;
    font-size: var(--title-filter-size);
}

.charte-qualit,
.proposer-votre-htel {
    position: relative;
}

.nos-hbergements {
    flex: 0.9103;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xl);
    box-sizing: border-box;
    gap: var(--gap-mini);
    min-height: 163px;
    max-width: 100%;
}

.f-assistance {
    font-size: var(--title-filter-size);
}

.f-assistance,
.centre-daide,
.nous-contacter {
    position: relative;
}

.assistance,
.assistance-wrapper {
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}

.assistance {
    align-self: stretch;
    height: 163px;
    display: flex;
    justify-content: flex-start;
    padding: var(--padding-xl);
    gap: var(--gap-mini);
}

.assistance-wrapper {
    flex: 1;
    padding: 0;
}

.assistance-wrapper,
.body,
.desktop1,
.footer {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
}

.footer {
    background-color: var(--grey);
    flex-direction: row;
    align-items: flex-start;
    padding: 0 var(--padding-11xs) 0 0;
    box-sizing: border-box;
    row-gap: 20px;
    text-align: left;
    font-size: var(--footer-link-size);
    color: var(--white);
    font-family: var(--footer-link);
}






/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

@media screen and (min-width: 1400px) {

    header,
    main {
        margin: auto;
    }

    footer,
    .footer {
        width: 100%;
        max-width: 1440px;
        margin: auto;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filterbar-all {
        display: block;
    }

    .filterbar {
        padding-top: 20px;
    }

    .filtres {
        display: block;
        margin-bottom: 0;
    }

    nav ul {
        display: flex;
    }

    .populaires {
        display: flex;
        flex-wrap: wrap;
    }

    .populaires-title i {
        display: none;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    #popularity-icon {
        display: flex
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .card-act h3 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .section-activits {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .card-act {
        height: auto;
        max-height: 250px;

    }



    /* Small devices (phones, less than 768px) */
    @media (max-width: 767.98px) {



        .company-name {
            flex-flow: column;
        }

        .company-name svg {
            width: 120px;
            height: 50px;
        }


        nav ul {
            margin: 20px 0;
            width: 100%;
            padding: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;

        }

        nav ul li a {
            display: block;
            width: 100%;
            text-align: center;
            border-bottom: 2px solid var(--color-silver-100);
            padding: 15px 0;
            justify-content: space-around;
            font-size: var(--footer-link-size);
            font-weight: 400;
        }

        nav ul li a#hebergements {
            border-bottom: 2px solid var(--color-dodgerblue);
        }


        #hebergements::before {
            display: none;
        }



        .filterbar {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 16px 12px;
        }

        .filter {
            justify-content: center;
        }

        header,
        main {
            padding: 0;
        }

        .glass-icon {
            display: block;
            width: 17px;
        }

        .rechercher {
            display: none;
        }



        .header-booki {
            display: block;
            flex-wrap: wrap;
        }

        nav ul {
            flex-wrap: wrap;
        }

        .buttonsearchdesktop {
            z-index: 1;
            border-radius: var(--br-mini);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }


        .footer {
            margin: 0;
            padding-top: 15px;
            font-size: 17px;
            width: 100%;
            display: flex;
            flex-flow: column;
            flex-direction: column;
        }

        .footer h3 {
            font-size: 20px;
        }

        .InfoGroup {
            padding: 0 5%;
        }

        .section-activits h3 {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 0px;
        }

        .card-act-mar {
            grid-template-columns: 1fr;
        }

        .card-act {
            height: auto;
        }

        .hebergements {
            order: 1;
            margin-top: 16px;
        }

        .hebergements-and-populaires .hebergements {
            background-color: transparent;
        }

        .populaires {
            order: 0;
            margin-top: 0;
        }

        .hebergements-and-populaires section {
            border-radius: 0;
        }

        .populaires-cards {
            flex-flow: column;
            width: 100%;
        }

        .line {
            grid-template-columns: 1fr;
        }

        .populaires-cards a {
            display: block;
            margin: auto;
            width: 100%;
        }

        .cardmain-heber {
            height: auto;
        }

        .cardmain-heber h3 {
            font-size: 19px;
        }

        .nuit-partir-container-heber {
            font-size: 16px;
        }

        .hebergements img,
        .card-act img {
            height: 175px;
            max-height: 175px;
        }

        .section-activits {
            padding: 0 5%;
            margin-top: 40px;
        }
    }

    @media screen and (max-width: 450px) {
        .filterbar {
            grid-template-columns: 1fr;
        }
    }
}